<!DOCTYPE html>
<html lang="pl">
    <head>
		<title>SoonTM</title>
        <meta charset="utf-8">
		<link href="../styles/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<script src="../scripts/scriptlogin.js"></script>-->
		<link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
<body>
	
	
	<nav style="font-size:2vw;max-width:100%;height:auto;">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/registration">Registration </a></li>
			<li><a href="/login">Login </a></li>
		</ul>
	</nav>
	<section>
            <h3>Zaloguj się</h3>
            <form action="https://localhost:8090/logme" method="POST">
                <label for="login" class="required">Login</label>
                <input id="login" type="text" name="login"/>
                <br />

                <label for="password" class="required">Hasło</label>
                <input id="password" type="password" name="password"/>
				<br/>
						
                <br/>

                <input id="button-reg-form" type="submit" value="Zaloguj"/> 
			</form>
			<h3>Resetuj Hasło (mail)</h3>
			<form action="https://localhost:8090/mail" method="POST">
                <label for="login" class="required">Login</label>
                <input id="login" type="text" name="login"/>
                <br />
						
                <br/>

                <input id="button-reg-form" type="submit" value="Resetuj"/> 
			</form>
	</section>
	<footer>
		<p class="footer-inline left">&copy; 2020 soonTM</p>
    </footer>
</body>
</html>